body {
  color: white;
  font-size: 22px;
  background: black;

  aside {
    background-color: blue;
  }

  section {
    margin-bottom: 20px;
  }

  footer {
    padding-top: 10px;
    font-size: 17px;
    text-align: center;
    border-top: 1px solid white;
  }
}

//##########################################

$field_size: 62px;
$ico_size: 50px;
$mine_padding: 4px;

@mixin field_padding() {
  padding: {
    top: $mine_padding;
    left: $mine_padding;
  }
}

//##########################################

table.board {
  margin-top: 100px;
  margin-left: 400px;
  border: 1px solid white;

  td {
    width: $field_size;
    height: $field_size;
    -moz-box-shadow: inset 0px -3px 7px 0px #3b3b3b;
    -webkit-box-shadow: inset 0px -3px 7px 0px #3b3b3b;
    box-shadow: inset 0px -3px 7px 0px #3b3b3b;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #454545), color-stop(1, #000000));
    background: -moz-linear-gradient(top, #454545 5%, #000000 100%);
    background: -webkit-linear-gradient(top, #454545 5%, #000000 100%);
    background: -o-linear-gradient(top, #454545 5%, #000000 100%);
    background: -ms-linear-gradient(top, #454545 5%, #000000 100%);
    background: linear-gradient(to bottom, #454545 5%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#000000', GradientType=0);
    background-color: #454545;
    border: 1px solid #0b0e07;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 9px 23px;
    text-decoration: none;
    text-shadow: 0 1px 0 #000000;

    &:hover {
      border: 1px solid #b5b5b5;
    }

    &:active {
      background: #8f8f8f;
    }

    &.blank {
      font-size: 30px;
      background: #b7b7b7;
      &.blank:active {
        background: #8f8f8f;
      }
    }

    &.one > span::after {
      content: "1";
      color: blue;
    }
    &.two > span::after {
      content: "2";
      color: green;
    }
    &.three > span::after {
      content: "3";
      color: red;
    }
    &.four > span::after {
      content: "4";
      color: yellow;
    }
    &.five > span::after {
      content: "5";
      color: cyan;
    }
    &.six > span::after {
      content: "6";
      color: magenta;
    }
    &.seven > span::after {
      content: "7";
      color: orange;
    }
    &.eight > span::after {
      content: "8";
      color: #6e0000;
    }

    &.flag, &.mine, &.mine-red, &.covered {
      padding: 0;
      img {
        width: $ico_size;
        height: $ico_size;
      }
    }

    &.covered > img {
      content: "";
      display: none;
    }

    &.flag {
      @include field_padding;
      & > img {
        content: url("../res/flag.ico");
      }
    }

    &.mine {
      @include field_padding;
      & > img {
        content: url("../res/mine.ico");
      }
    }

    &.mine-red {
      @include field_padding;
      & > img {
        content: url("../res/mine-red.ico");
      }
    }
  }
}

/*
.myButton {
  -moz-box-shadow:inset 0px -3px 7px 0px #3b3b3b;
  -webkit-box-shadow:inset 0px -3px 7px 0px #3b3b3b;
  box-shadow:inset 0px -3px 7px 0px #3b3b3b;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #454545), color-stop(1, #000000));
  background:-moz-linear-gradient(top, #454545 5%, #000000 100%);
  background:-webkit-linear-gradient(top, #454545 5%, #000000 100%);
  background:-o-linear-gradient(top, #454545 5%, #000000 100%);
  background:-ms-linear-gradient(top, #454545 5%, #000000 100%);
  background:linear-gradient(to bottom, #454545 5%, #000000 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#000000',GradientType=0);
  background-color:#454545;
  border:1px solid #0b0e07;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:15px;
  padding:9px 23px;
  text-decoration:none;
  text-shadow:0 1px 0 #000000;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #454545));
  background:-moz-linear-gradient(top, #000000 5%, #454545 100%);
  background:-webkit-linear-gradient(top, #000000 5%, #454545 100%);
  background:-o-linear-gradient(top, #000000 5%, #454545 100%);
  background:-ms-linear-gradient(top, #000000 5%, #454545 100%);
  background:linear-gradient(to bottom, #000000 5%, #454545 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#454545',GradientType=0);
  background-color:#000000;
}
.myButton:active {
  position:relative;
  top:1px;
}
*/